In [1]:
import pandas as pd

In [2]:
# total sample
FCS = pd.read_excel('c:/Users/LENOVO/Desktop/FCS.xlsx')

In [3]:
FCS['FCG']= FCS['Bread_Rice_Bulgar_Pasta']*2 + FCS['Lentils_Nuts_beans']*3 + FCS['Vegetables']*1 + FCS['Fruits']*1 + FCS['Beef_Chicken_lamb_liver_any other meat']*4 + FCS['Milk_yoghurt_cheese_other milk products']*4 + FCS['Oil_Ghee_Butter_oil']*0.5 + FCS['Halva_Jams']*0.5

In [4]:
# List comprehension:
FCS['FCG1'] = [1 if x<=21 else 3 if x>=35.5 else 2 for x in FCS['FCG']]

In [5]:
FCS

,Bread_Rice_Bulgar_Pasta,Lentils_Nuts_beans,Vegetables,Fruits,Beef_Chicken_lamb_liver_any other meat,Milk_yoghurt_cheese_other milk products,Oil_Ghee_Butter_oil,Halva_Jams,FCG,FCG1
0,7,1,7,3,1,2,7,0,42.5,3
1,7,1,7,1,1,3,7,2,45.5,3
2,7,1,7,0,1,7,7,3,61.0,3
3,7,1,7,0,1,2,7,1,40.0,3
4,7,7,7,7,1,3,7,1,69.0,3
...,...,...,...,...,...,...,...,...,...,...
315,7,5,2,0,0,2,2,0,40.0,3
316,7,3,4,0,0,0,4,0,29.0,2
317,7,4,0,0,0,1,7,0,33.5,2
318,7,2,1,0,0,2,3,0,30.5,2
319,7,2,2,1,1,0,7,0,30.5,2

In [6]:
Count = FCS.FCG1.value_counts()
Percent = FCS.FCG1.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
final = pd.DataFrame({'count': Count, 'per': Percent})

In [7]:
final

   count    per
3    164  51.2%
2    147  45.9%
1      9   2.8%

In [29]:
# aleppo 
FCS_aleppo = pd.read_excel('c:/Users/LENOVO/Desktop/FCS.xlsx', sheet_name='fcs_aleppo')

In [34]:
FCS_aleppo['FCG']= FCS_aleppo['Bread_Rice_Bulgar_Pasta']*2 + FCS_aleppo['Lentils_Nuts_beans']*3 + FCS_aleppo['Vegetables']*1 + FCS_aleppo['Fruits']*1 + FCS_aleppo['Beef_Chicken_lamb_liver_any other meat']*4 + FCS_aleppo['Milk_yoghurt_cheese_other milk products']*4 + FCS_aleppo['Oil_Ghee_Butter_oil']*0.5 + FCS_aleppo['Halva_Jams']*0.5 
# List comprehension:
FCS_aleppo['FCG1'] = [1 if x<=21 else 3 if x>=35.5 else 2 for x in FCS_aleppo['FCG']]

In [35]:
FCS_aleppo

,Bread_Rice_Bulgar_Pasta,Lentils_Nuts_beans,Vegetables,Fruits,Beef_Chicken_lamb_liver_any other meat,Milk_yoghurt_cheese_other milk products,Oil_Ghee_Butter_oil,Halva_Jams,FCG,FCG1
0,7,1,7.0,3.0,1.0,2,7,0,42.5,3
1,7,1,7.0,1.0,1.0,3,7,2,45.5,3
2,7,1,7.0,0.0,1.0,7,7,3,61.0,3
3,7,1,7.0,0.0,1.0,2,7,1,40.0,3
4,7,7,7.0,7.0,1.0,3,7,1,69.0,3
...,...,...,...,...,...,...,...,...,...,...
135,7,5,2.0,0.0,0.0,2,2,0,40.0,3
136,7,3,4.0,0.0,0.0,0,4,0,29.0,2
137,7,4,0.0,0.0,0.0,1,7,0,33.5,2
138,7,2,1.0,0.0,0.0,2,3,0,30.5,2
139,7,2,2.0,1.0,1.0,0,7,0,30.5,2

In [36]:
Count = FCS_aleppo.FCG1.value_counts()
Percent = FCS_aleppo.FCG1.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
final_aleppo = pd.DataFrame({'count': Count, 'per': Percent})

In [38]:
final_aleppo

   count    per
2     70  50.0%
3     64  45.7%
1      6   4.3%

In [39]:
# Idleb 
FCS_idleb = pd.read_excel('c:/Users/LENOVO/Desktop/FCS.xlsx', sheet_name='fcs_idleb')

In [40]:
FCS_idleb['FCG']= FCS_idleb['Bread_Rice_Bulgar_Pasta']*2 + FCS_idleb['Lentils_Nuts_beans']*3 + FCS_idleb['Vegetables']*1 + FCS_idleb['Fruits']*1 + FCS_idleb['Beef_Chicken_lamb_liver_any other meat']*4 + FCS_idleb['Milk_yoghurt_cheese_other milk products']*4 + FCS_idleb['Oil_Ghee_Butter_oil']*0.5 + FCS_idleb['Halva_Jams']*0.5 
# List comprehension:
FCS_idleb['FCG1'] = [1 if x<=21 else 3 if x>=35.5 else 2 for x in FCS_idleb['FCG']]

In [41]:
FCS_idleb

,Bread_Rice_Bulgar_Pasta,Lentils_Nuts_beans,Vegetables,Fruits,Beef_Chicken_lamb_liver_any other meat,Milk_yoghurt_cheese_other milk products,Oil_Ghee_Butter_oil,Halva_Jams,FCG,FCG1
0,6,3,0,0,0,1,5,0,27.5,2
1,6,2,2,1,0,2,3,0,30.5,2
2,7,2,3,1,1,4,5,0,46.5,3
3,7,1,2,0,0,3,4,0,33.0,2
4,7,3,2,0,1,0,4,0,31.0,2
...,...,...,...,...,...,...,...,...,...,...
175,7,3,3,0,1,0,3,0,31.5,2
176,7,7,2,0,0,2,7,3,50.0,3
177,7,7,0,0,0,3,7,0,50.5,3
178,7,7,2,0,0,4,7,0,56.5,3
179,7,3,1,0,0,3,3,0,37.5,3

In [42]:
Count = FCS_idleb.FCG1.value_counts()
Percent = FCS_idleb.FCG1.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
final_idleb = pd.DataFrame({'count': Count, 'per': Percent})

In [43]:
final_idleb

   count    per
3     95  52.8%
2     82  45.6%
1      3   1.7%